.content {

    align-items: center;

  }
body {
    background-color: #1a202c;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
  }


  /* Home.css */
.stats-section {
  background-color: #000000;
}

